// Vendor imports
@import "reset";
@import "bourbon";
@import "neat";

// Sass functions
@import "functions/color";

// Sass mixins
@import "mixins/button";

// Global app variables
$base-background-color: #eee;
$base-font-family: "San Francisco", "Helvetica Neue", Segoe UI, "Lucida Grande", Arial, sans-serif;
$base-font-size: 14px;
$primary-color: $light-blue;
$accent-color: $red;

// All styles
@import "components/button";
@import "layout/body";
@import "layout/navigation";
@import "templates/index";
