<section>
  <span class="title">Section Title</span>

  <a href="#">
    <i class="fa fa-calendar-check-o"></i>
    Menu Item
  </a>

  <a href="#">
    <i class="fa fa-fire"></i>
    Menu Item
  </a>
</section>

<section>
  <span class="title">Section Title</span>

  {{#link-to "index"}}
    <i class="fa fa-tasks"></i>
    Selected Item
  {{/link-to}}

  <a href="#">
    <i class="fa fa-cube"></i>
    Menu Item
  </a>

  <a href="#">
    <i class="fa fa-tv"></i>
    Menu Item
  </a>
</section>

<div class="navigation-toolbar">
  <a href="#">
    <i class="fa fa-plus"></i>
  </a>

  <a href="#">
    <i class="fa fa-minus"></i>
  </a>

  <a href="#">
    <i class="fa fa-cog"></i>
  </a>
</div>
